@font-face {
  font-family: 'PTSans';
  src: url("../fonts/PTSansNarrow.woff2") format("woff2"),
  url("../fonts/PTSansNarrow.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: url("../fonts/PTSansNarrowBold.woff2") format("woff2"),
  url("../fonts/PTSansNarrowBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}