// Media queries
$tablet-width: 768px;
$desktop-width: 1200px;

//Colors
$dark-bg: #242424;
$light-color: #f8f5f2;
$main-color: #353535;
$light-main-color: #4e4e4e;
$secondary-color: #826550;
$secondary-dark-color: #6a4d38;
$decor-line-color: #3f3f3f;
$light-decor-line-color: #e5ddd5;



