// Media queries
$tablet-width: 768px;
$desktop-width: 1250px;

//Colors
$dark-bg: #292929;
$light-bg: #f8f5f2;
$main-color: #353535;
$light-main-color: #4e4e4e;
$secondary-color: #826550;
$secondary-dark-color: #6a4d38;

