extends ../layout/main

include ../components/stats/stats
include ../components/features/features
include ../components/news/news
include ../components/reviews/reviews

block content
    +stats()
    +features()
    +news()
    +reviews()


