include ../nav/nav

mixin header()
  header.header
    .container.header__container
      a.logotype(href="index.html")
        picture.logo
          source(media='(min-width: 1200px)', srcset='icons/logotype-desktop.svg')
          source(media='(min-width: 768px)', srcset='icons/logotype-tablet.svg')
          img(src='icons/logotype-mobile.svg', width='226' alt='Borodinski')
      +nav()