@import "../../styles/mixins";
@import "../../styles/variables";

.header__container{
  padding: 0;
  background: $dark-bg;
}

.logotype {
  display: block;
  padding: 26px 47px;
}

.logo {

  margin: 0 auto;
}

