
mixin features()
  .features
    .container.features__container
      .features__item.features__item--active
        .features__icon.features__icon--first
        .features__text
          p.features__title Быстро
          p.features__description Мы делаем свою работу быстро! Два часа пролетят незаметно и вы — счастливый обладатель стильной стрижки-минутки
      .features__item
        .features__icon.features__icon--second
        .features__text
          p.features__title Круто
          p.features__description Забудьте, как вы стриглись раньше. Мы сделаем из вас звезду футбола или кино. Во всяком случае внешне.
      .features__item
        .features__icon.features__icon--third
        .features__text
          p.features__title Дорого
          p.features__description Наши мастера — профессионалы своего делаи не могут стоить дёшево. К тому же, разве цена не даёт определённый статус?
      .dots
        .dots__item.dots__item--active
        .dots__item
        .dots__item