

mixin stats()
  .stats
    .container.stats__container
      .stats__block
        .stats__header
          p.stats__title Стрижка у нас это выгодно!
          p.stats__subtitle Мужская стрижка требует точного подхода. Обратимся к статистике:
          span.stats__notice * — приведённые данные ложь
      .stats__table
        .first-row
            .stats__item
              p.value 1 500
                span.star *
              p.description рублей <br> вложений
        .second-row
            .stats__item
              p.value 7 200
              p.description секунд <br> времени мастера
        .third-row
            .stats__item
              p.value 90 000
              p.description постриженных <br> волос
        .fourth-row
            .stats__item
              p.value 500 000
                span.star *
              p.description лайков и <br> комплиментов
      span.stats__notice.stats__notice--mobile * — приведённые данные ложь

