@import "../../styles/mixins";

.nav {
  background: $secondary-color;
  position: relative;
  width: 100%;

  &--open {
    .menu-item {
      display: block;

      &--active {
        text-align: left;
        display: block;
      }
    }
  }

  @include tablet {
    background: none;
    @include flex;
    align-items: flex-start;
    padding: 29px 0 0;
  }

  @include desktop {
    padding: 29px 15px 0;
  }
}



.menu-item {
  @include title;
  height: 50px;
  color: white;
  font-size: 18px;
  display: none;
  text-align: left;
  padding: 16px 21px;
  cursor: pointer;

  &:not(:first-child) {
    border-top: 1px solid $secondary-dark-color;
  }

  &--active {
    text-align: center;
    display: block;
  }

  @include tablet {
    display: block;
    font-size: 19px;
    height: 19px;
    padding: 0;

    &:not(:first-child) {
      border-top: none;
    }

    &--active {
      padding-bottom: 43px;
      border-bottom: 3px solid $secondary-color;
    }
  }
}

.burger {
  position: absolute;
  border: none;
  text-decoration: none;
  margin: 0;
  padding: 17px;
  background-color: $secondary-dark-color;
  background-image: url("../../icons/icon-menu.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 70px;
  height: 50px;
  right: 0;
  top: 0;
  cursor: pointer;

  &:focus{
    outline: none;
  }

  @include tablet {
    display: none;
  }

  &--close {
    padding: 13px 22px;
    background-image: url("../../icons/icon-cross.png");

    &:focus{
      outline: none;
    }
  }
}


.login {
  background: $secondary-dark-color;
  text-transform: none;
  font-weight: normal;

  @include tablet {
    span {
      display: none;
    }
    background: none;
  }

  @include desktop {
    span {
      display: inline;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}

.login__icon {
  width: 16px;
  height: 16px;
  margin-right: 13px;

  @include tablet {
    margin-right: 0;
  }

  @include desktop {
    margin-right: 19px;
  }
}