mixin nav()
  nav.nav
    each item in [{label: 'Главная', link: 'index.html'}, {label: 'Наши работы', link: 'portfolio.html'}, {label: 'Записаться', link: 'order.html'}, {label: 'Контакты', link: 'contacts.html'}, {label: 'HTML Academy', link: '#'}]
      a.menu-item.link(href=item.link)= item.label
    a.menu-item.login.link(href="#")
      img.login__icon(src="icons/login.png")
      span Войти
    button.burger(type="button")