mixin nav()
  nav.nav
      a.menu-item.link.menu-item--active(href='index.html') Главная
      a.menu-item.link(href='portfolio.html') Наши работы
      a.menu-item.link(href='order.html') Записаться
      a.menu-item.link(href='contacts.html') Контакты
      a.menu-item.link(href='#') HTML Academy
      a.menu-item.login.link(href="#")
        img.login__icon(src="icons/login.png")
        span Войти
      button.burger(type="button")